# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# User defined files
same-OS/attack
same-OS/text.txt.gpg
same-OS/result-*.txt
cross-VM/*/server/server
cross-VM/*/server/keygen
cross-VM/*/client/client
cross-VM/*/client/attack
cross-VM/*/client/result-*.txt
cross-VM/*/client_test/encrypt
cross-VM/*/client_test/client
cross-VM/*/client_test/attack
cross-VM/*/client_test/result-*.txt
cross-VM/*/client_test/cipher.txt
cross-VM/RSA/*/rsa.sp
cross-VM/EdDSA/*/ecc.sp
cross-VM/EdDSA/*/run.sh
doc/dump-*.txt
doc/*-libgcrypt-1.8.4.txt
